@model List<Agendamento>

<h2>Confirmação de Agendamentos</h2>

<table>
  <style>
    table,
    th,
    td {
      border: 2px solid black;
    }
  </style>
  <h3>Agendamento realizado, Parabéns!!</h3>

   @foreach (Agendamento a in Model)
  {
    <table>
  <tr>
    <th>Nome</th>
    <th>Telefone</th> <br>
    <th>Data</th><br>
    <th>Animal</th><br>
    <th>Necessidade</th><br>
  </tr>
 
    <tr>

      <td>@a.nome</td>
      <td>@a.telefone</td>
      <td>@a.data.ToString("dd/MM/yyyy")</td>
      <td>@a.animal</td>
      <td>@a.necessidade</td>
    </tr>
    </table>
  }
</table>
Retornar para página pricipal <a asp-area="" asp-controller="Home" asp-action="Index">Inicio</a>